#containerVisible {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    display: flex;
    background-size: cover;

    visibility: hidden;

    top: 0;
    left: 0;
    z-index: 99;
    position: fixed;

    @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
        backdrop-filter: blur(10px);
        background-color: rgba(black, .3);
    }

    .form-container {

        width: 40rem;
        height: 23rem;
        border-radius: 10px;
        box-shadow: (10px 10px 10px rgba(10px, 10px, 10px, 0.9));
        background-color: rgba(0, 0, 0, 0.8);
        margin: auto;
        text-align: center;
        z-index: 2;

        h2 {
            color: white;
            font-size: 2rem;
            margin: 0px 0px 1.5rem 0px;
        }

        .form-input {
            margin-bottom: 1rem;
            border: none;
            color: gray;
        }

        .form-input-text {
            border-radius: 20px;
            height: 2rem;
            border: none;
            width: 15rem;
            font-weight: bold;
            padding-left: 8px;
            color: gray;
        }

        ::-webkit-input-placeholder {
            color: darkgray;
        }

        .check-div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;

            .terms {
                color: white;
                margin-left: 5px;

                a {
                    text-decoration: underline;
                    color: lightblue;
                }
            }
        }


        #popup_close {

            &:link,
            &:visited {
                color: red;
                right: 1rem;
                font-size: 3rem;
                text-decoration: none;
                display: flex;
                flex-direction: row-reverse;
                line-height: 1;
                padding-right: 1rem;
            }

            &:hover {
                color: white;
            }
        }
    }

    #btn {

        &,
        &:link,
        &:visited {
            text-transform: uppercase;
            text-decoration: none;
            border: none;
            cursor: pointer;
            background-color: red;
            margin-top: 15px;
            border-radius: 20px;
            height: 2.5rem;
            border: none;
            color: white;
            font-size: 1.1rem;
            width: 15rem;
        }

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 1rem 2rem rgba(black, .2);

            &::after {
                transform: scaleX(1.4) scaleY(1.6);
                opacity: 0;
            }
        }

        &:active,
        &:focus {
            outline: none;
            transform: translateY(-1px);
            box-shadow: 0 .5rem 1rem rgba(black, .2);
        }
    }

    #emailOutput,
    #phoneOutput,
    #nameOutput {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 1rem;
        color: white;
        font-weight: bold;
    }
}